/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Site Layout */

.site {
  padding: $base__space-unit;

  @include media($tablet) {
    max-width: $tablet;
    margin: 0 auto;
    padding: $base__space-unit * 1.5;
  }

  @include media($desktop) {
    max-width: $desktop;
    margin: 0 auto;
  }

  /* Front Page */

  .content-area {
    @include media($desktop) {
      position: relative;
      margin: 5rem 8rem;
      display: block;
      &:before,
      &:after {
        position: absolute;
        top: 0;
        font-size: 8rem;
        font-family: 'FontAwesome';
        font-weight: 900;
        color: $color__green_brand;
      }
      &:after {
        right: -150px;
        content: '\f10e';
      }
      &:before {
        left: -150px;
        content: '\f10d';
      }
    }

    .site-main {
      display: block;
      .entry-content {
        font-size: $base__space-unit * 1.5;
        font-weight: 300;
      }
      .entry-meta {
        display: flex;
        align-items: center;
        font-weight: 300;
        .source {
          font-size: $base__space-unit * 0.75;

          font-style: italic;
          a {
            color: $color__green_brand;
          }
        }
      }
    }
  }

  .site-footer {
    @include media($desktop) {
      text-align: right;
    }
  }
}

.new-quote-button {
  @include media($desktop) {
    display: block;
    margin: 0 auto;
  }
}
/* Header */

.site-branding {
  @include media($desktop) {
    text-align: center;
  }
  .logo {
    max-width: 300px;

    @include media($tablet) {
      max-width: 500px;
    }

    @include media($desktop) {
      min-width: 700px;
      // margin: 0 auto;
    }
  }
}

/* All Archives Page */

/* Submit a Quote Page */

/* Footer */

footer {
  padding: $base__space-unit * 2 0 $base__space-unit;
}
