// Structure

$base__space-unit: 1.5rem;

// Break Points

$desktop: 1080px;
$tablet: 620px;

// Colors

$color__background-body: #222222;
$color__text-main: #ffffff;

$color__green_brand: #00cc00;

$color__dashed_border: #ffffff;

// Typography

$font__main: 'Exo', sans-serif;
$font__line-height: 1.5;
$font__size: 16px;
